6.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--
Nombre: David Ruiz
Curso: Daw1
Fecha 18/04/2025
Ejercicio 6
-->
<!--Ejercicio libreria-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="libreria">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="codigo">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:minInclusive value="1000"/>
              <xs:maxInclusive value="9999"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="direccion" type="xs:string"/>
        <xs:element name="telefono" type="xs:string" maxOccurs="unbounded"/>
        <xs:element name="propietario" type="xs:string"/>
        <xs:element name="libro" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="titulo" type="xs:string"/>
              <xs:element name="autor" type="xs:string"/>
              <xs:element name="formato">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="rústica"/>
                    <xs:enumeration value="tapa blanda"/>
                    <xs:enumeration value="tapa dura"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="precio" type="xs:decimal"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
